flow.json
[
    {
        "id": "df1a4a49.fad898",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2f43115a.3161de",
        "type": "tab",
        "label": "Terremotos",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ddd9e81.b164618",
        "type": "tab",
        "label": "Temperatura",
        "disabled": false,
        "info": ""
    },
    {
        "id": "24264458.be95dc",
        "type": "tab",
        "label": "aedes",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9505611d.e7508",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a4bab372.008b8",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "ce4786ed.0a39a8",
        "type": "subflow",
        "name": "Subflow 2",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "7729bae5.29fa84",
        "type": "mqtt-broker",
        "name": "enriquecrespo.com",
        "broker": "mqtt://enriquecrespo.com",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3a8fb679.94307a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "enriquecrespo.com",
        "port": "1884",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "755b1c80.e20b94",
        "type": "ui_tab",
        "name": "enrique",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b9e18e81.e5063",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#6492e8",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Dashboard ejemplo",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6a0b97ec.1d26b8",
        "type": "ui_tab",
        "name": "Segundo",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "82408086.7497f",
        "type": "ui_tab",
        "name": "Tercera",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "de542c7c.71e14",
        "type": "ui_group",
        "name": "pulsadores",
        "tab": "82408086.7497f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "34490889.52e928",
        "type": "ui_group",
        "name": "Indicadores",
        "tab": "6a0b97ec.1d26b8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "eaa5fb2e.0108f8",
        "type": "ui_group",
        "name": "Gráficas",
        "tab": "755b1c80.e20b94",
        "order": 2,
        "disp": true,
        "width": 11,
        "collapse": false
    },
    {
        "id": "f8736c31.dc7db",
        "type": "ui_group",
        "name": "Raspberri",
        "tab": "755b1c80.e20b94",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "91326a1.19c4a98",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "eaa5fb2e.0108f8",
        "order": 2,
        "width": 11,
        "height": 1
    },
    {
        "id": "52f726d8.6a4fc8",
        "type": "inject",
        "z": "ce4786ed.0a39a8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "c2af2538.7fb5a8"
            ]
        ]
    },
    {
        "id": "c2af2538.7fb5a8",
        "type": "debug",
        "z": "ce4786ed.0a39a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 80,
        "wires": []
    },
    {
        "id": "2abf93cd.ca5b3c",
        "type": "mqtt in",
        "z": "2f43115a.3161de",
        "name": "",
        "topic": "aprendiendonodered21/enrique/raspberrypi2/enrique/Temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "7729bae5.29fa84",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 690,
        "y": 560,
        "wires": [
            [
                "12ddfe0e.5594e2"
            ]
        ]
    },
    {
        "id": "12ddfe0e.5594e2",
        "type": "debug",
        "z": "2f43115a.3161de",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1050,
        "y": 560,
        "wires": []
    },
    {
        "id": "ba38cd83.cbe5",
        "type": "mqtt out",
        "z": "2f43115a.3161de",
        "name": "",
        "topic": "aprendiendonodered21/almena/temperatura",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7729bae5.29fa84",
        "x": 1130,
        "y": 700,
        "wires": []
    },
    {
        "id": "8c2b1e6b.f4a39",
        "type": "inject",
        "z": "2f43115a.3161de",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5ºc",
        "payloadType": "str",
        "x": 770,
        "y": 700,
        "wires": [
            [
                "ba38cd83.cbe5"
            ]
        ]
    },
    {
        "id": "54a5fff5.4fe31",
        "type": "mqtt out",
        "z": "2f43115a.3161de",
        "name": "",
        "topic": "aprendiendonodered21/almena/humedad",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7729bae5.29fa84",
        "x": 1080,
        "y": 760,
        "wires": []
    },
    {
        "id": "bcdd4d7d.6e8f1",
        "type": "mqtt in",
        "z": "ddd9e81.b164618",
        "name": "",
        "topic": "aprendiendonodered21/enrique/raspberrypi2/enrique/temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "7729bae5.29fa84",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 530,
        "y": 340,
        "wires": [
            [
                "2ab66a1a.7c3d26",
                "662318ba.2c0fe8"
            ]
        ]
    },
    {
        "id": "8d6c66cf.bbf858",
        "type": "rbe",
        "z": "ddd9e81.b164618",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 1050,
        "y": 480,
        "wires": [
            [
                "1cd5624d.0d96fe"
            ]
        ]
    },
    {
        "id": "1cd5624d.0d96fe",
        "type": "debug",
        "z": "ddd9e81.b164618",
        "name": "Aviso final",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 640,
        "wires": []
    },
    {
        "id": "2ab66a1a.7c3d26",
        "type": "switch",
        "z": "ddd9e81.b164618",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "30",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 480,
        "wires": [
            [
                "eee3b3c6.66999"
            ],
            [
                "280c84d9.8ad6bc"
            ]
        ]
    },
    {
        "id": "eee3b3c6.66999",
        "type": "change",
        "z": "ddd9e81.b164618",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Temperatura alta",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 460,
        "wires": [
            [
                "8d6c66cf.bbf858"
            ]
        ]
    },
    {
        "id": "280c84d9.8ad6bc",
        "type": "change",
        "z": "ddd9e81.b164618",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Temperatura normal",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 500,
        "wires": [
            [
                "8d6c66cf.bbf858"
            ]
        ]
    },
    {
        "id": "662318ba.2c0fe8",
        "type": "debug",
        "z": "ddd9e81.b164618",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 340,
        "wires": []
    },
    {
        "id": "9b9dbb11.38e7c8",
        "type": "inject",
        "z": "2f43115a.3161de",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "36%",
        "payloadType": "str",
        "x": 770,
        "y": 760,
        "wires": [
            [
                "54a5fff5.4fe31"
            ]
        ]
    },
    {
        "id": "57e05e28.faa64",
        "type": "aedes broker",
        "z": "24264458.be95dc",
        "name": "aedes MQTT broker",
        "mqtt_port": "1884",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "18a21914.561fa7"
            ]
        ]
    },
    {
        "id": "18a21914.561fa7",
        "type": "debug",
        "z": "24264458.be95dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "da7b93d3.961de",
        "type": "mqtt out",
        "z": "24264458.be95dc",
        "name": "",
        "topic": "aprendiendonodered21/almena",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3a8fb679.94307a",
        "x": 500,
        "y": 300,
        "wires": []
    },
    {
        "id": "af5c1022.9ae0e",
        "type": "inject",
        "z": "24264458.be95dc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "almena",
        "payloadType": "str",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "da7b93d3.961de"
            ]
        ]
    },
    {
        "id": "ef1cd7d6.51e568",
        "type": "inject",
        "z": "df1a4a49.fad898",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "7c25961e.de0158",
                "3a3af794.809c88"
            ]
        ]
    },
    {
        "id": "7c25961e.de0158",
        "type": "debug",
        "z": "df1a4a49.fad898",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "3a3af794.809c88",
        "type": "debug",
        "z": "df1a4a49.fad898",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 260,
        "wires": []
    },
    {
        "id": "fa97b932.a61f98",
        "type": "debug",
        "z": "ddd9e81.b164618",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 220,
        "wires": []
    },
    {
        "id": "416710e0.ac631",
        "type": "http request",
        "z": "ddd9e81.b164618",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://www.navarra.es/Templates/Navarra/Especificas/CamarasTrafico/CamaraTraficoHandler.ashx?Img=carreteras\\BELAGUA_EL_FERIAL_PK_55.JPG&random=1675800579",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 640,
        "y": 220,
        "wires": [
            [
                "fa97b932.a61f98"
            ]
        ]
    },
    {
        "id": "24349b84.460544",
        "type": "inject",
        "z": "ddd9e81.b164618",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 460,
        "y": 220,
        "wires": [
            [
                "416710e0.ac631"
            ]
        ]
    },
    {
        "id": "8188e780.68fa88",
        "type": "ui_text",
        "z": "9505611d.e7508",
        "group": "de542c7c.71e14",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "6783f4b6.3faa9c",
        "type": "inject",
        "z": "9505611d.e7508",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 360,
        "wires": [
            [
                "8188e780.68fa88"
            ]
        ]
    },
    {
        "id": "2990257d.0d380a",
        "type": "ui_gauge",
        "z": "9505611d.e7508",
        "name": "CPU",
        "group": "f8736c31.dc7db",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "a87a6293.7201e",
        "type": "ui_chart",
        "z": "9505611d.e7508",
        "name": "Temperatura",
        "group": "eaa5fb2e.0108f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 730,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "626cf648.fc6098",
        "type": "mqtt in",
        "z": "9505611d.e7508",
        "name": "",
        "topic": "aprendiendonodered21/enrique/raspberrypi1/enrique/Temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "7729bae5.29fa84",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 370,
        "y": 160,
        "wires": [
            [
                "a87a6293.7201e"
            ]
        ]
    },
    {
        "id": "6ecabfe1.28e1b",
        "type": "mqtt in",
        "z": "9505611d.e7508",
        "name": "",
        "topic": "aprendiendonodered21/enrique/raspberrypi1/enrique/CPU",
        "qos": "2",
        "datatype": "auto",
        "broker": "7729bae5.29fa84",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 390,
        "y": 240,
        "wires": [
            [
                "2990257d.0d380a"
            ]
        ]
    },
    {
        "id": "1b5e0835.af4118",
        "type": "ui_chart",
        "z": "9505611d.e7508",
        "name": "",
        "group": "eaa5fb2e.0108f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Memoria",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 680,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "1e7da105.aec33f",
        "type": "mqtt in",
        "z": "9505611d.e7508",
        "name": "",
        "topic": "aprendiendonodered21/enrique/raspberrypi1/enrique/Memoria",
        "qos": "2",
        "datatype": "auto",
        "broker": "7729bae5.29fa84",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 220,
        "y": 80,
        "wires": [
            [
                "1b5e0835.af4118"
            ]
        ]
    }
]